!!!5
%html
	%head
		%meta{charset: "UTF-8"}/
		%meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
		%title CombinePDF Demo | Bates numbering | merge pdf | index tables | pdf fonts
		= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
		= javascript_include_tag 'application', 'data-turbolinks-track' => true
		= csrf_meta_tags
	%body{ class: I18n.locale}
		%label.show-menu{for: "show-menu"}
		%input#show-menu{role: "button", type: "checkbox"}/
		%nav#nav{role: "navigation"}
			%ul#menu>
				%li>
					= link_to t(:home_page), welcome_path
				%li>
					%a{href: "#"}= t(:examples)
					%ul
						%li
							= link_to t(:code), code_path
						%li
							= link_to t(:bates_example), bates_path
				%li>
					= link_to t(:github), "https://github.com/boazsegev/combine_pdf"
				%li>
					= link_to t(:documentation), "http://rubydoc.info/gems/combine_pdf/"
		#content
			- if flash[:notice]
				#notice
					= flash[:notice]
			=yield
		#footer